body{
    background-color: antiquewhite;    
    font-family: poppin, Arial, Helvetica, sans-serif;

}

#resumen-carrito h4{
    color: #ff0000; /* decoraciones rojas */
    font-size: 2.5rem;
}

#lista-carrito h2{
    font-size: 1.5rem;
       
}

.img{
    width: 100px;
    height: 5px;
}