/* Estilos generales */
body {
    font-family: 'poppins', sans-serif;
    background: antiquewhite;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

/* Login Section */
section.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

/* Logo */
section.container .mb-3.bg-secondary {
    background: url('https://play-lh.googleusercontent.com/LDzF7SqTi-OKEF_O9xHLYuiZwm3a1wrAO1JJ1Al4GeJ6j4DFzDwHS9fx7KQLt8xK6tc=w240-h480-rw') center/cover no-repeat;
    border-radius: 10px;
    width: 120px;
    height: 80px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Nombre empresa */
/* --- Login/Register --- */
.container.text-end a {
    color: #0f0501;
    font-weight: 500;
    margin-left: 10px;
    transition: 0.3s;
}

.container.text-end a:hover {
    color: #ff0303;
    text-decoration: underline;
}
