body {
    background-color: antiquewhite;
    font-family: poppins,Arial, Helvetica, sans-serif;
}

#noticia {
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: rgba(39, 39, 39, 0.222);
}

#imagen:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;

}
.title-underline {
    position: star;
    width: 120px;
    height: 4px;
    background-color: #ff3d3d;
    margin: 0 auto;
    border-radius: 2px;
}

/* --- Login/Register --- */
.container.text-end a {
    color: #0f0501;
    font-weight: 500;
    margin-left: 10px;
    transition: 0.3s;
}

.container.text-end a:hover {
    color: #ff0303;
    text-decoration: underline;
}