/* body */
body {
    font-family: 'Arial', sans-serif;
    background: #f8f9fa;
}

/* Header Navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Logo sección */
section.container img {
    width: 150px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

section.container img:hover {
    transform: scale(1.05);
}

/* Nombre de la empresa */
section.container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

/* Formulario de contacto*/
.card {
    border-radius: 15px;
}

.card-header {
    font-size: 1.2rem;
    font-weight: bold;
    background: #000000 !important;
    color: #fff9f9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-body {
    background: #000000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form-control {
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}

.form-control:focus {
    box-shadow: 0 0 5px rgba(236, 28, 0, 0.5);
    border-color: #ff0000;
}

.btn-dark {
    background: #000000;
    border: none;
    transition: all 0.3s ease;
}

.btn-dark:hover {
    background: #fd0101;
    transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 576px) {
    section.container img {
        width: 120px;
    }

    section.container h2 {
        font-size: 1.5rem;
    }
}
