body {
    background-color: #ffffff;
    position: relative;
    min-height: 100vh;
}



#carta {
    box-shadow: 0 4px 20px rgba(83, 68, 68, 0.15), 0 1.5px 0 #110e0e inset;
    border-radius: 18px 18px 40px 40px;
    background: linear-gradient(140deg, #ebebdf 30%, #7a7877 100%);
    padding: 18px;
}

#imagen:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;

}


/* --- Login/Register --- */
.container.text-end a {
    color: #0f0501;
    font-weight: 500;
    margin-left: 10px;
    transition: 0.3s;
}

.container.text-end a:hover {
    color: #ff0303;
    text-decoration: underline;
}