body {
    background-color: #ffffff;
}

#noticia {
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #fff5f5;
}

#imagen:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;

}


/* --- Login/Register --- */
.container.text-end a {
    color: #0f0501;
    font-weight: 500;
    margin-left: 10px;
    transition: 0.3s;
}

.container.text-end a:hover {
    color: #ff0303;
    text-decoration: underline;
}